<left>

    <h2 class="github-title">GitHub Repo</h2>

    <h3 class="github-title">Distributed training workshop</h3>
    <a class="github-button" href="https://github.com/shashankprasanna/distributed-training-workshop.git" data-icon="octicon-star" data-show-count="true" aria-label="Star shashankprasanna/distributed-training-workshop on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/shashankprasanna/distributed-training-workshop/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork shashankprasanna/distributed-training-workshop on GitHub">Fork</a>

    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
